<form method="post" action="{{ path('app_medication_delete', {'id': biological_datum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ biological_datum.id) }}">
    <button class="btn">Delete</button>
</form>
