

{% block title %}Edit BiologicalData{% endblock %}

{% block body %}
    <h1>Edit BiologicalData</h1>

    {{ include('biological_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_biological_data_index') }}">back to list</a>

    {{ include('biological_data/_delete_form.html.twig') }}
{% endblock %}
