{%extends'chat.html.twig'%}

{% block body %}
    <h1>Biological Data Index</h1>
    {% if biological_datas is not empty %}
        <select id="biological_data_select">
            {% for biological_datum in biological_datas %}
                <option value="{{ path('app_biological_data_show', {'id': biological_datum.id}) }}">{{ biological_datum.id }}</option>
            {% endfor %}
        </select>
        <button onclick="redirectToSelected()">Show</button>
        <script>
            function redirectToSelected() {
                var selectedId = document.getElementById('biological_data_select').value;
                window.location.href = selectedId;
            }
        </script>
    {% else %}
        <p>No records found</p>
    {% endif %}

    <a href="{{ path('app_biological_data_new') }}">Create New</a>
{% endblock %}
