{% extends 'basefront.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block body %}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

 <script src="https://kit.fontawesome.com/b9abb70ee4.js" crossorigin="anonymous"></script>
    <h1>Avis</h1>
    
{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
    {{ include('avis/_form.html.twig') }}

    <a href="{{ path('app_avis_listavis') }}">liste Avis </a>
    </center>
{% endblock %}
