<form method="post" action="{{ path('app_calendar_owner_delete', {'id': calendar.id}) }}" onsubmit="deleteCalendar({{ calendar.id }}); return false;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
    <button type="submit" class="btn">Delete</button>
</form>
