{# templates/owner/delete_appointment.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Cancel Appointment{% endblock %}

{% block body %}
    <h1>Cancel Appointment</h1>
    <p>Are you sure you want to cancel this appointment?</p>
    <form method="post">
        <button type="submit" class="btn btn-danger">Cancel</button>
        <a href="{{ path('app_owner_dashboard') }}" class="btn btn-secondary">Back</a>
    </form>
{% endblock %}
