<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Member Dashboard</title>
</head>
<body>
    <div>
        <p>{{ dashboardContent }}</p>
        <p>Here is the bracelet data for your beloved one:</p>
        <ul>
              <a href="{{ path('app_bracelet') }}" class="btn btn-primary">View Owner Data</a>
        </ul>
        <p>Take care!</p>
    </div>
</body>
</html>
